name: Github Build

on:
  push:
    branches: [ main, clustered-cache ]
  pull_request:
    branches: [ main ]

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Cache toolbox binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/bin
          key: ${{ runner.os }}-${{ github.job }}-tools-${{ hashFiles('.toolbox.mk') }}

      - name: Lint
        run: make lint

  build:
    name: Go Tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Cache toolbox binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/bin
          key: ${{ runner.os }}-${{ github.job }}-tools-${{ hashFiles('.toolbox.mk') }}

      - name: Test
        run: make test-ci

      - name: Build
        run: go build .

  helm:
    name: Helm Checks
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Update Helm Docs
        run: |
          cp chart/README.md chart/README.md.old
          make docs

      - name: Lint Helm Chart
        run: |
          make helm-lint

      - name: Check chart/README.md is correctly generated with 'make docs'
        run: |
          # ignore version as it is updated during build
          sed -i '/!\[Version\:/d' chart/README.md
          sed -i '/!\[Version\:/d' chart/README.md.old
          sed -i -E 's/--version [0-9]+.[0-9]+.[0-9]+/--version x.x.x/' chart/README.md
          sed -i -E 's/--version [0-9]+.[0-9]+.[0-9]+/--version x.x.x/' chart/README.md.old
          diff chart/README.md.old chart/README.md

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config .github/linters/ct.yaml

      - name: Template
        run: make helm-template

  release:
    name: Tests Release
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"

      - name: Cache toolbox binaries
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/bin
          key: ${{ runner.os }}-${{ github.job }}-tools-${{ hashFiles('.toolbox.mk') }}

      - name: Test Release
        run: make test-release
